.header {
  position: relative;
  height: 100vh;
  text-align: center;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  background-color: white;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
}

.header__title {
  max-width: 709px;
  position: relative;
  top: 183px;
  margin-bottom: 28px;
  text-align: left;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  font-weight: 500;
  z-index: 1;
  color:black;
}

.header__span-accent {
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
}

.header__description {
  margin: 0;
  position: relative;
  z-index: 1;
  top: 183px;
  max-width: 683px;
  text-wrap: wrap;
  text-align: left;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: black;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  margin-top: 300px;
}

.header__paragraph {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  font-weight: 500;
  color: #6f6f6f;
  margin: 0 0 16px;
}
