.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.nav__logo-link {
  margin-right: auto;
}

.nav__list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.nav__item a {
  text-decoration: none;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.nav__item a:hover {
  color: blue;
}
